{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": "IE 11" // Target ES5 for older environments
        },
        "useBuiltIns": "usage",
        "corejs": 3
      }
    ],
    "@babel/preset-typescript"
  ]
}